:root {
	--lightest-value: #FFFFFF; /** plain white **/
	--main-accent: #D33E0A; /** main accent red orange **/
	--second-accent: #F65A29; /** brighter red orange **/
}

/* this flat out doesn't work and I'm tired of it!
.jumbotron {
	position: relative;
	background-image: url("images/leaf-litter.png");
   width: 100%;
   height: 100%;
   background-size: cover;
   overflow: hidden;
}
*/
/* overwrite bootstrap stuff doesn't work
@btn-default-border {
	color: transparent;
}*/
p {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	font-size: 18px;
}

.centering-try-again {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
.text-box {
	/* border-bottom: 7px double var(--second-accent);
	border-top: 7px double var(--second-accent); */
	font-family: 'Shadows Into Light', cursive;
	border: 7px double var(--second-accent);
	opacity: 1 !important;
	background-color: rgba(132, 119, 52, 0.5);
}
.text-show:after {
	content: "Throw Some Mulch!";
}
.theGroup {
	margin-top: 20px;
	margin-bottom: 10px;
	border: none !important;
}
.actionArea {
	margin-top: 20px;
	margin-bottom: 10px;
	border: none !important;
}
.player-up {	
}
.player-down {		
}
.players-message {		
}
.player-inactive {	
	background-color: #746448;
	/*-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;*/
}
.stats  {	
	font-family: 'Shadows Into Light', cursive;			
	text-align: center;
	margin-left: 20px;
	margin-bottom: 0px;	
}
.stats p {
	font-size: 10px;
}
/* the players */
#tommy {
	display: block;	
}
#tommy img {			
/*	height: 200px;
	width: 200px; */
}
#sis {
	display: block;	
}
#sis img {		
/*	height: 200px;
	width: 200px;	*/
}
#wrapper {
	display: block;	
}
#wrapper img {		
/*	height: 200px;
	width: 200px;	*/
}
#shroom {
	display: block;	
}
#shroom img {			
/*	height: 200px;
	width: 200px;	*/
}